* {
    direction: rtl;
    box-sizing: border-box;
}

@font-face {
    font-family: 'IRANSans';
    src: url('fonts/iransans.eot');
    src: url('fonts/iransans.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/iransans.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/iransans.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iransans.ttf') format('truetype');
}

input {
    font-family: 'IRANSans';
}

body {
    /* position: fixed; */
    width: 99%;
    height: 900px;
    font-family: 'IRANSans';
    color: #000000;
    /* position: relative; */
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.main-menu {
    width: 96%;
    /* height: 990px; */
    position: absolute;
}

.navbar {
    width: 96%;
    height: 50px;
    background-color: #58d6c8;
    margin: 0 auto;
    display: flex;
    border-radius: 4px;
    border-bottom: 1px solid #abb5b5;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 40px;
    transition: all 0.5s;
}


/* .navbar :hover{
    color: #333333;
    border-bottom: 2px solid #cb9f9f;
} */

.navbar :visited {
    color: #cc0c0c;
}

.contact {
    width: 55%;
    height: 750px;
    position: absolute;
    margin: 6% 23% 0 23%;
    display: flex;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 2px 20px #b9b8b8;
    border: 1px solid #dbe4e3;
}

.contact1 {
    width: 50%;
    height: auto;
    padding: 0 0 0 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.top-tem {
    width: 100px;
    height: 90px;
    background-color: #58d6c8;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.top-tem1 {
    width: 110px;
    height: 100px;
    background-color: #35e7d2;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    opacity: 0.5;
}

.top-tem2 {
    width: 120px;
    height: 110px;
    background-color: #45e0ce;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    opacity: 0.5;
}

.tem {
    width: 500px;
    height: 70px;
    background-color: #58d6c8;
    margin: -90px 0;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    position: absolute;
    bottom: 90px;
}

.tem1 {
    width: 500px;
    height: 80px;
    background-color: #0c8375;
    opacity: 0.5;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    margin: -11px 0;
}

.tem2 {
    width: 500px;
    height: 90px;
    background-color: #26c2b0;
    opacity: 0.5;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    margin: -20px 0;
}

.info {
    margin-top: 68px;
}

.mobile {
    width: 100%;
    height: 50%;
    padding: 30px 20px 0 0;
}

.mobile h2 {
    margin: 10px 6px;
    display: inline-block;
    color: #353535;
}

i {
    font-size: 25px;
    color: #353535;
}

.mobile span {
    font-size: 18px;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    padding-top: 10px;
    direction: ltr;
}

.email {
    width: 100%;
    height: 50%;
    padding: 0 100px 0 0;
}

.email h6 {
    font-size: 15px;
    padding: 0 45px 0 0;
    letter-spacing: 1.5px;
}

.contact2 {
    width: 50%;
    height: 750px;
    position: relative;
    /* border: 2px solid #e0e6e6;*/
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 20px 20px 40px #eef1f1;
}

.titr {
    width: 400px;
    height: 50px;
    margin: 5% 5% 2% 0;
}

.titr label {
    font-size: 20px;
    color: #393939;
    opacity: 0.8;
}

.all-in {
    width: 50%;
    height: 50px;
    display: flex;
    margin: 0 5% 2% 0;
}

.in-1 {
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.in-1 input {
    width: 210px;
    height: 50px;
    border: 2px solid #d3d1d1;
    padding: 0 10px 0 0;
    font-size: 20px;
    border: none;
    box-shadow: 0 1px 8px #c2c2c2;
    border-radius: 5px;
}

.in-1 input:hover {
    border-bottom: 3px solid #dbecfa;
}

.in-2 {
    width: 50%;
    height: 50px;
    margin: 0 10px;
}

.in-2 input {
    width: 210px;
    height: 50px;
    border: 2px solid #d3d1d1;
    padding: 0 10px 0 0;
    font-size: 20px;
    border: none;
    box-shadow: 0 1px 8px #c2c2c2;
    border-radius: 5px;
}

.in-2 input:hover {
    border-bottom: 3px solid #dbecfa;
}

.titr2 {
    width: 250px;
    height: 50px;
    margin: 4% 5% 0 0;
}

.titr2 label {
    font-size: 20px;
    color: #393939;
    opacity: 0.8;
}

.in-em {
    width: 435px;
    height: 50px;
    display: flex;
    margin: 0 4%;
}

.in-em input {
    width: 100%;
    height: 50px;
    border: 2px solid #d3d1d1;
    padding: 0 10px 0 0;
    font-size: 20px;
    border: none;
    box-shadow: 0 2px 10px #c2c2c2;
    border-radius: 5px;
}

.in-em input:hover {
    border-bottom: 3px solid #dbecfa;
}

.form {
    width: 430px;
    height: 180px;
    margin: 2% 5% 0 0;
}

.form-text {
    width: 100%;
    height: 180px;
    font-size: 20px;
    border: none;
    box-shadow: 0 2px 10px #c2c2c2;
    border-radius: 5px;
    font-family: 'IRANSans';
}

.form-text:hover {
    border-bottom: 3px solid #dbecfa;
}

.snd {
    width: 150px;
    height: 50px;
    margin: 6% 32% 0 0;
}

.snd input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #33e0cc;
    box-shadow: 0 2px 10px #d0d0d0;
    color: #333333;
    transition: 0.4s;
}

.snd input:hover {
    cursor: pointer;
    box-shadow: 10px 10px 40px #c4c5c5;
}

form {
    margin: 10px;
    display: grid;
}

form input {
    border: none;
    border-bottom: 1px solid #c4c4c4;
    width: 75%;
    margin-top: 10px;
    padding: 10px 5px;
    outline: none;
    font-size: 18px;
    margin: 0 auto;
}

form label {
    margin-top: 20px;
    color: #464646;
    font-size: 18px;
    font-weight: bold;
}

textarea {
    margin-top: 15px;
    resize: none;
    outline: none;
    border-radius: 50px;
}

#sub {
    border: none;
    width: 150px;
    margin: 0 auto;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background: #4dc7ac;
    transition: all 0.15s;
    color: #f3f3f3;
}

#sub:hover {
    border-bottom: 3px solid rgb(255, 157, 44);
    border-radius: 3px;
}

@media only screen and (max-width:1700px) {
    .in-1,
    .in-2 {
        /* width: 70%; */
        /* flex-direction: column */
    }
    .all-in {
        flex-direction: column;
    }
    .in-2 {
        margin: 25px 0;
    }
    .tem {
        width: 80%;
    }
    .tem1 {
        width: 55%;
    }
    .tem2 {
        width: 55%;
    }
    .mobile h2 {
        font-size: 20px;
    }
    .info {
        margin-top: 75px;
    }
}

@media only screen and (max-width:1160px) {
    .mobile span {
        font-size: 90%;
    }
}

footer span {
    position: fixed;
    bottom: 0;
    left: 10px;
    color: rgba(109, 109, 109, 0.521);
    font-size: 14px;
}

footer {
    direction: rtl;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: linear-gradient(to right, rgb(255, 79, 56) 0%, rgb(255, 145, 42));
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: linear-gradient(to right, rgb(255, 79, 56) 0%, rgb(255, 145, 42));
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}